.navbar {
   margin-bottom: 0;
   color: rgba(22, 143, 173, 0.333);
   z-index: 9999;
   border: 0;
   font-size: 22px !important;
   line-height: 1.42857143 !important;
   border-radius: 0;
   padding-top: 10px;
   padding-bottom: 10px;
 }
 .navbar li a, .navbar .navbar-brand {
   color:#48205a !important;
   box-align: center;
 }
 .navbar-nav li a:hover, .navbar-nav li.active a {
   color: #48205a !important;
 }
 .logo {
    font-size: 40px;
   font-weight: 30px;
   font-family: fantasy;
}
.panel-default > .panel-heading {
  color: #333;
  background-color: rgba(245, 245, 220, .7);
  border-color: rgba(119, 119, 108, 0.6);
  font-size: large;
}
 
.panel-footer {
  background-color: rgba(245, 245, 220, .5);
  border-color: rgba(245, 245, 220, .4);
}
.panel {
  margin-top: 20px;
  box-shadow: 0px 3px 3px 0px #ddd;
  
}
.panel-title {
  font-weight: bolder;
  font-size: larger;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font: outline;
}
.list-group-item{
  font-size: large;
}
.form-group{
  font-size: medium;
}

.bg{
  background-color: rgba(232, 219, 233, 0.623);
}
.btn{
  display: inline-block;
  background-color: #9b24e0;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 15px 32px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2px;

}
.right {
  position: absolute;
  right: 0px;
  width: 300px;
  font-size: 20px;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  font-size: x-large;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}
.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}